accelerate==0.25.0
ipykernel==6.27.1
openai==1.6.1
python-dotenv==1.0.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
transformers==4.36.2
uvicorn==0.23.2
PyDub==0.25.1
python_multipart==0.0.6
fastapi