accelerate==0.25.0
anthropic==0.8.1
bitsandbytes==0.41.3.post2
exllama==0.1.0
gradio==4.11.0
httpx
ipykernel==6.27.1
llama_cpp_python==0.2.25
openai==1.6.1
pydantic
python-dotenv==1.0.0
scipy==1.11.4
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
transformers==4.36.2
uvicorn==0.23.2
fastapi